<div class="container" ng-controller="pocetnaC">    
       
 <div class="row">
 	<div class="col-xs-8 col-xs-offset-2">
  		<div style=" margin-top: 50px;" class="well poluProvidanBeo">
   			<h1 align="center"><i><b>Dodatna analiza - utvrdjivanje megaloblastne anemije</b></i></h1>
   			<br>
   				<a style="margin-left:180px; width: 350px"  href="" class="btn btn-success testDugme" ng-click="popuniMegaloblastna();"> P O P U N I</a>
  		</div>
	</div>
</div>
  <div class="row">          
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-5 col-md-offset-3 col-sm-8 col-sm-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Unesite vrednosti:</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#/pocetna">Povratak na poèetnu</a></div>
            </div>  
            <div class="panel-body" >
                
                    <form  class="form-horizontal"  >
                          
                         <div id="div_id_location" class="form-group">
                            <label for="id_location" class="control-label col-md-4">B12 </label>
                            <div class="controls col-md-5 ">
                            <div class="input-group">
                                <input class="input-md textinput textInput form-control"  name="b12"  type="number" ng-model="anemija2.b12"/>
                            		<span class="input-group-addon ">pmol/L</span>
                              </div>
                            </div> 
                        </div>
                        
                         <div id="div_id_location" class="form-group">
                            <label for="id_location" class="control-label col-md-4">Folna kiselina </label>
                            <div class="controls col-md-5 ">
                            <div class="input-group">
                                <input class="input-md textinput textInput form-control"  name="folnaKiselina"  type="number" ng-model="anemija2.folnaKiselina"/>
                           		<span class="input-group-addon ">nmol/L</span>
                              </div>
                            </div> 
                        </div>
                        
                        <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8">
                               <input type="button" name="zavrsi" value="Završi" class="btn btn btn-primary pull-right" id="button-id-signup" ng-click="dodatneAnemija2()"/>
                            </div>
                        </div> 
                    
                    </form>
        </div>
    </div> 
</div>
</div>
</div>
